{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-3">&nbsp;</div>
<div class="col-md-6">
   
  <div class="bg-light px-3 py-3">
        <h1>Connectez vous !</h1>
        {% if hasError %}
         <div class="alert alert-danger">Une erreur est survenue, le nom ou le mot de passe est invalide</div>
        {% endif %}
        <form action="{{ path('account_login') }}" method = "post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" required  value="{{username}}">
            </div>
            <div class="form-group">
                <label for="password" class="Mot de passe">Mot de passe</label>
                <input type="password" name="_password" placeholder="mot de passe .." class="form-control" required >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion !</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
