<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{path ("homepage")}}">DenysAirBnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("ads_index")}}">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("ads_sen")}}">SEN</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if app.user %}
          <li class="nav-item dropdown">
            <a href="{{path('account_logout')}}" class="nav-link dropdown-toggle"  data-toggle="dropdown" id="accountDropdownLink">
              <img src="{% if app.user %} {{ app.user.picture }} {% endif %} }}" class="avatar avatar-mini">
              {{app.user.fullName}}
                      
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby = "accountDropdownLink">
                <div class="dropdown-divider"></div>
              <a href="{{path('ads_create')}}" class="dropdown-item">Creer une annonce</a>
              <a href="{{path('account_index')}}" class="dropdown-item">Mon compte</a>
              <a href="{{path('account_profile')}}" class="dropdown-item">Mon profil</a>
              <div class="dropdown-divider"></div>
              <a href="{{path('account_logout')}}" class="dropdown-item" >Déconnexion</a>
            </div>
          </li>


        {% else %}
          <li class="nav-item">
            <a href="{{path('account_login')}}" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="{{path('account_login')}}" class="nav-link">Connexion</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>


    {% for label, messages in app.flashes %}
    <div class="container">
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
        <p>{{ message | raw}} </p>
        {% endfor %}
    </div></div>
    {% endfor %}

 