{# templates/layout.html.twig #}
{% extends 'base.html.twig'%}
{% block header%}
{% endblock %}
{% block body %}

<div class="jumbotron mt-3">
  <h1 class="display-3">Bienvenue sur Symbnb!</h1>
  <p class="lead">Nous mettons en relations  les voyageurs et les proprietaires qui veulent profiter
  d'opportunité et gagné de l'argent en proposant leur bien à la location.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
  <hr class ="my-4">
  <p> Vous êtes voyageurs et vous   ? Vous voulez voir ou vous pourrez loger pour votre prochain
  deplacement </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
  </p>
</div>
<h2> Nos appartements star </h2>
<div class ="row mt-5">
    <div class ="col-md-4">
        <div class ="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres <strong>49&euro; / nuit</strong> <br>
                <small> pas encore noté </small>
            </div>
            <img src="http://placehold.it/1000x400"  alt="image 1000x400" style="height: 200px; width: 100%; display:block;">  
            <div class="card-body">
                <h4 class="card-title">
                   Appartement de ouf
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellat sed minima recusandae, nesciunt mollitia suscipit vero minus voluptates! Fugiat.
                </p>
               <a href="#" class="button button-secondary">En savoir plus</a>
            </div>
        </div>  
    </div>
    <div class ="col-md-4">
        <div class ="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres <strong>49&euro; / nuit</strong> <br>
                <small> pas encore noté </small>
            </div>
            <img src="http://placehold.it/1000x400"  alt="image 1000x400" style="height: 200px; width: 100%; display:block;">  
            <div class="card-body">
                <h4 class="card-title">
                   Appartement de ouf
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellat sed minima recusandae, nesciunt mollitia suscipit vero minus voluptates! Fugiat.
                </p>
               <a href="#" class="button button-secondary">En savoir plus</a>
            </div>
        </div>  
    </div>
    <div class ="col-md-4">
        <div class ="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres <strong>49&euro; / nuit</strong> <br>
                <small> pas encore noté </small>
            </div>
            <img src="http://placehold.it/1000x400"  alt="image 1000x400" style="height: 200px; width: 100%; display:block;">  
            <div class="card-body">
                <h4 class="card-title">
                   Appartement de ouf
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellat sed minima recusandae, nesciunt mollitia suscipit vero minus voluptates! Fugiat.
                </p>
               <a href="#" class="button button-secondary">En savoir plus</a>
            </div>
        </div>  
    </div>
</div>
<h2> Nos proprietaires star </h2>
<div class="row md-6">
<div class="col-md-6">
  
  <div class="div card bordery-secondary mb-3">
    <div class="div card-body">
        <h4 class="card-title">Denis bouvier</h4>
      </hr>
      <div class="card-text">
       <img src="http://placehold.it/64x64" alt="avatar de denis" class="float-left mr-3">

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet illo ad nam voluptatum labore placeat soluta maiores nostrum odio molestiae?</p>   
      <a href="" class="href">lien</a> 
      </div>
  </div>
  <div class="div card-body">
        <h4 class="card-title">Denis bouvier</h4>
      </hr>
      <div class="card-text">
       <img src="http://placehold.it/64x64" alt="avatar de denis" class="float-left mr-3">

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet illo ad nam voluptatum labore placeat soluta maiores nostrum odio molestiae?</p>   
      <a href="" class="href">lien</a> 
      </div>
  </div>
</div>

</div></div>
{% endblock %}
    