        {% set url = path('ads_show',{'slug':ad.slug })  %}
       <div class ="col-md-4">
            <div class ="card bg-light mb-3">
                <div class="card-header text-center">
                    {{ ad.rooms }} chambres <strong>{{ ad.price }}&euro; / nuit</strong> <br>
                    <small> pas encore noté </small>
                </div>
                <a href="{{ url }}">
                    <img src="{{ad.coverImage}}"  alt="image 1000x400" style="height: 200px; width: 100%; display:block;"> 
                 </a>
                 
                <div class="card-body">
                    <h4 class="card-title">
                        <a href = "{{ url }}"> 
                             {{ad.title}} 
                        </a>
                    
                    </h4>
                    <p class="card-text">
                        {{ad.introduction}}
                        
                    </p>
                   <a href="{{ url }}" class="button button-secondary">En savoir plus</a>
                </div>
            </div>  
        </div> 